<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babynames.profile">

    <application>
        <activity android:name=".presentation.activities.AboutActivity" />
        <activity android:name=".presentation.activities.ScanQRActivity" />
        <activity android:name=".presentation.activities.MyCodeActivity"></activity>
    </application>

</manifest>